#root {
  margin: 0 auto;
  text-align: center;
}

#header {
  padding: 0.5em 0;
  background-color: #161616;
}

#pokedexForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: min-content;
  justify-self: center;
  align-items: center;
  margin-top: 2em;
}

#pokemonNameInput {
  font-size: 1.25em;
}

#submitButton {
  width: min-content;
}

#searchResult {
  margin-top: 8em;
}